*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.kotlin
# Routes contain home/work locations: never commit them
*.gpx
# Android Studio: selected test device (can include the phone's device ID)
/.idea/deploymentTargetSelector.xml
